# .NET Core
bin/
obj/
.vs/
.vscode/
.idea/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
